body {
    font-size: 16px;
  }
  p {
    margin: 0;
  }
  
  .page-content > div {
      max-width: 600px;
  }
  
  /* Form */
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .name-email-inline {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  
  .name-email-inline > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .name-email-inline input {
    padding: 4px;
    flex-grow: 1;
  }
  
  .message-input-container {
    display: flex;
    flex-direction: column;
  }
  
  .contact-details {
    text-align: center;
  }
  
  /* Message input */
  
  input, textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    height: 100px;
    resize: vertical;
  }
  
  /* Button with effect */
  
  button {
    background-color: var(--color-deep-green);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--color-primary-green);
  }
  
  /* -------------  Responsive styles ------------- */
  
  @media (max-width: 430px) {
    form {
      gap: 10px;
    }
    .name-email-inline {
      flex-direction: column;
      gap: 10px;
    }
    .name-email-inline > div {
      gap: 6px;
    }
  }